Visualize one of your datasets in an interactive animated way (examples can be seen in google charts).

# Importing data

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

from ipywidgets import interact

from matplotlib import animation, rc
from IPython.display import HTML

In [2]:
data = pd.read_csv("../data/mall_customers.csv")

In [3]:
data.sample(5)

     CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
156         157    Male   37                  78                       1
84           85  Female   21                  54                      57
39           40  Female   20                  37                      75
71           72  Female   47                  49                      42
6             7  Female   35                  18                       6

In [4]:
print("Number of samples: {}".format(len(data)))

Number of samples: 200

In [5]:
data.dtypes

CustomerID                 int64
Gender                    object
Age                        int64
Annual Income (k$)         int64
Spending Score (1-100)     int64
dtype: object

# Visualizing data

Interactively drawing every pair scatter plot.

In [10]:
@interact
def scatter_plot(x=list(data.columns[1:]), 
                 y=list(data.columns[1:])):
    sns.scatterplot(data[x], data[y])

interactive(children=(Dropdown(description='x', options=('Gender', 'Age', 'Annual Income (k$)', 'Spending Scor…

Interactively displaying income and spending score on a given age.

In [11]:
@interact
def scatter_plot(age=(np.min(data["Age"]), np.max(data["Age"]), 1)):
    display(data[data["Age"]==age][["Age", "Annual Income (k$)", "Spending Score (1-100)"]])

interactive(children=(IntSlider(value=44, description='age', max=70, min=18), Output()), _dom_classes=('widget…